.friendList {
    /* margin: 0 auto;
    padding: 0;
    list-style: none; */
    margin: 5vh auto;
    display: table;
   
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem; */
  }
  
  .item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    margin-top: 5vh;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    padding: 20px;
    text-align: center;
  }
  
  .status {
    border-radius: 50%;
    margin: auto 1.7rem;
    height: 15px;
    width: 15px;
  }
  
  .online {
      /* composes: status; */
      color: green;
  }
  
  .offline {
      /* composes: status; */
      color: red;
  }
  
  .avatar {
    margin: 0 auto;
  }
  
  .name {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: 2.5rem;
  }