.transactionHistory {
    margin: 5vh auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
  }
  .head_row {
    font-size: 1.5rem;
    text-align: center;
  }
  .header_column {
    width: 30%;
    padding: 1rem 5rem;
    background-color: #02bbd7;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .header_column:first-child {
    border-radius: 0.5rem 0 0 0;
  }
  .header_column:last-child {
    border-radius: 0 0.5rem 0 0;
  }
  .values_row:last-child .data_transaction:first-child {
    border-radius: 0 0 0 0.5rem;
  }
  .values_row:last-child .data_transaction:last-child {
    border-radius: 0 0 0.5rem 0;
  }
  
  .values_row {
    width: 33%;
    color: #8a8b8e;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
  }
  
  .values_row:nth-child(even) {
    background-color: #f2f2f2;
  }
  